<div class="">
  <section class="banner">
    <div class="container">
    </div>
  </section>
  <section class="features" id="features">
    <div class="container">
      <div class="head-title">
        <h3>Features </h3>
        <p>We developed a software to track real time when trends are happening</p>
      </div>
    </div>
    <div class="feature_image"> <img src="<%= asset_path 'back/features.png' %>" class="img-responsive">
      <div class="container">
        <ul class="feature_left">
          <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Save weeks of tedious research time</li>
          <li><i class="fa fa-check-square-o" aria-hidden="true"></i> No more unmanageable spreadsheets</li>
        </ul>
        <ul class="feature_right">
          <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Comprehensive data to take the right decision</li>
          <li><i class="fa fa-check-square-o" aria-hidden="true"></i> No more analysis paralysis for sourcing profitable products</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="our_services" id="services">
    <div class="container">
      <div class="head-title">
        <h3>Our services</h3>
        <p>Our software tells us real time when trends are happening marketplaces, vthis allows buyers process procurement on a larger scale.</p>
      </div>
    </div>
    <div class="services_list">
      <div class="container">
        <div class="col-md-4">
          <div class="tool">
            <h3>Profitability Analysis Tool</h3>
            <p>This will help sellers to gain more insight into various fees that amazon charges for the products that they want to sell on amazon. it will also giveinsight into number of sellers currently selling the product, lowest price on amazon, Amazon fees etc.After getting this research data, sellers could easily make the decision to source a particular product or not. </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dashboard"> <img src="<%= asset_path 'back/dashboard.png' %>" class="img-responsive"> </div>
        </div>
        <div class="col-md-4">
          <div class="tool last">
            <h3>Profitability Analysis Tool</h3>
            <p>This will help sellers to gain more insight into various fees that amazon charges for the products that they want to sell on amazon. it will also giveinsight into number of sellers currently selling the product, lowest price on amazon, Amazon fees etc.After getting this research data, sellers could easily make the decision to source a particular product or not. </p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <footer id="contact">
    <div class="container">
      <div class="foot_caption">
        <p>Start your million dollar Amazon business today</p>
        <%= link_to(' Click here to start your free trial!', new_user_registration_path)  %>
        <h1>Contact US</h1>
          <form id="contact_form"  method="post">  
            <div class="col-md-12">
              <div class="col-md-6">
                <p class="first">
                  <label for="name">Name</label>
                  <input type="text" name="name" id="name" size="30" />
                </p>
                <p>
                  <label for="email">Email</label>
                  <input type="text" name="email" id="email" size="30" />
                </p>
              </div>
              <div class="col-md-6">
                <p>
                  <label for="message">Message</label>
                  <textarea name="message" id="message" cols="40" rows="7"></textarea>
                </p>                
              </div>
            </div>         
            <div>
              <p style="text-align:right; margin-right:10px;"><a type="button">Send</a></p>
            </div>
          </form>
      </div>
    </div>
  </footer>
  <div class="clear"></div>
  <div class="address">
  <div class="container">
    <div class="col-md-4 col-sm-12">
      <p>36-16 29th Street, Long Island city, NY,11106</p>
    </div>
    <div class="col-md-4 col-sm-12">
      <ul>
        <li><a href="#">WWW.FBA.SUPPORT</a></li>
      </ul>
    </div>
    <div class="col-md-4  col-sm-12">
      <p class="copyright">2018-All Rights with FBA.Support</p>
    </div>
  </div>
</div>
