<div class="modal-dialog col-6 col-m-11 mymodal">
  <div class="modal-content">
    <div class="centermodal">
      <div class="">        
        <div class="text-center">
          <img src="/images/coach/cto.png" class="rounded">
          <p class="modal-title">Welcome from Steven Rozen, FBA Support's CEO </p>
        </div>        
      </div>
      <hr>
      <div class="modal-body">
        <p><b>Thanks - your account's ready to go!</b></p>
        <p>Now you have a place for company-wide discussion, spaces for your teams to work together, and a place to manage projects. You'll see we also included a couple real-life examples of how we use FBA Support at our own company. Dig in and explore!</p>
        <br>
        <p>If you ever need a hand, please contact me directly </p>
        <br>
        <p>Thanks again and all the best,</p>
        <br>
        <p class="sign"><i>Steven</i></p>
        <br>
        <p>Steven</p>
        <a href="<%= new_skynet_path %>" class="btn btn-lg btn-info pull-right gobtn">OK! Let's see my account -></a>
      </div>
    </div>
  </div>
</div>